.journalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full height of the viewport */
  background-image: url('../../../public/video_games_art_background.jpg');
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}

.journalWrapper {
  position: relative;
  z-index: 1;
  border-radius: 12px; /* Rounded corners */
  width: 100%;
  max-width: 800px; /* Increased max width for a larger form */
}

.journalTitle {
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
  font-family: 'Poppins';
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Add spacing between form elements */
}

.select input{
  color: #212121;
  font-family: 'Noto Sans';
}

.select label,
.textInput label{
  font-family: 'Inter';
  color: white;
}

.textInput{
  width: 100%;
  border-radius: 8px;
  resize: vertical; /* Allow vertical resizing */
  color: white;
  font-family: 'Poppins';
} 

.textArea {
  width: 100%;
  height: auto;
  font-size: 1rem;
  border-radius: 8px;
  overflow-y: auto;
  color: white;
  
}

.submitButton {
  width: 25%;
  margin-top: auto;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  border: 0.5px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 500px) {
  .journalTitle{
    font-size: 2rem;
  }
}

@media (max-width: 530px){
  .submitButton{
    width: auto;
  }
}