
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.scrollBar {
    &,
    &:hover {
        background-color: #555555;
    }

    &[data-orientation='vertical'] .thumb {
        background-color: black;
    }
}

.option {
    background-color: #232526;
    color: white;
}

.option:hover {
    background-color: #3a3a3c; /* Darker hover color */
    color: #ffffff;
}

.button{
    border: none;
    cursor: pointer;
    font-family: 'Barlow';
    font-weight: 600;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    overflow: visible;
}

.button:hover{
    background-color: #ffffff;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .wrapper{
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }
}