/* Wrapper for the entire search page */
.wrapper {
    background: url('/astrobotBackground.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh; /* Ensure the page takes up the full height */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 0;
}

.backgroundOverlay{
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    /* Fade from transparent to dark */
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 0%, #18181b 15%);
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 1;
    pointer-events: auto;
}

.headerSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

/* Search results heading */
.titleText {
    font-size: 3rem;
    font-weight: 700;
    color: white; /* Dark text for contrast */
    margin-bottom: 0.1rem;
    text-align: left;
    font-family: 'Barlow';
    text-decoration: underline;
    text-underline-offset: 10px;
    margin: 0;
    letter-spacing: 1px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.titleDescriptionSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titleLogo{
    display: flex;
    align-items: center;
    color: white;
    width: auto;
}

.description {
    color: var(--mantine-color-white);
    font-weight: 300;
    text-align: left;
    font-style: italic;
    font-family: 'Poppins';
    max-width: 900px;

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
        font-size: 18px;
    }
}

/* Number of search results */
.numberText{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255); /* Dark text for contrast */
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: italic;
    text-align: center;
    align-self: flex-start;
}

/* Grid layout for game cards */
.gameGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gameTitle{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.5rem;
    overflow: hidden;
    font-family: 'Poppins';
}

/* Pagination */
.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.pagination .mantine-Pagination-root {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 1020px){

    .gameGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .searchText{
        font-size: 1.7rem;
    }

}

@media screen and (max-width: 646px) {

    .gameGrid{
        grid-template-columns: 1fr;
    }

    .headerSection{
        text-align: center;
    }

    .titleLogo{
        margin-bottom: -1rem;
    }

    .titleDescriptionSection{
        padding: 0;
    }

    .gameContainer{
        padding: 0;
    }

    .mainContent{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .gameImage{
        width: 100%;
    }

    .titleText{
        font-size: 2.5rem;
    }

    .description{
        font-size: 16px;
    }

    .titleLogo{
        padding: 0.3rem;
    }
    
}

    
