.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full height of the viewport */
  position: relative;
  background: linear-gradient(to top, #283048, #323334); 
  padding: 2rem;
}

.backbtn {
  margin-bottom: 1rem;
  border: 1px solid rgb(91, 2, 121);
}

.entryContainer {
  padding: 1.5rem;
  border-radius: 16px;
  background-color: #25252b;
  border: 1px solid #474747;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  word-break: break-word;
}

.gameName {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: 'Poppins';
}

.title {
  color: rgb(230, 230, 230);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: 'Poppins';
}

.date {
  color: rgb(208, 208, 208);
  font-size: 1rem;
  margin-bottom: 3rem;
  font-family: 'Poppins';
}

.content {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #f0f0f0;
  white-space: pre-wrap;
  font-family: 'Inter';
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .entryCard {
    padding: 1rem;
  }
  .title {
    font-size: 1.1rem;
  }
  .content {
    font-size: 1rem;
  }
}