.hero {
  background: url("/cyberpunkWallpaper.jpg") top center no-repeat;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh; /* This ensures the hero fills the full screen */
  max-width: 100%;
  z-index: 10;
  pointer-events: auto;
}

.backgroundOverlay {
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  /* Fade from transparent to dark */
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 0%, #191320 15%);
}

.contentContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 1rem 0rem 1rem;
  pointer-events: auto;
}

.landingPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.heroSection {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
}

.landingLogo {
  display: inline-block;
  width: 300px;
  height: auto;
  object-fit: contain;
  justify-content: flex-start;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: clamp(3.5rem, 6vw, 4.75rem);
  font-weight: 900;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: white;
  max-width: 12ch;
}

.subtitle {
  color: rgb(234, 232, 232);
  font-family: "Barlow";
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  font-family: "Poppins";

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
  pointer-events: auto;
}

.createAccountButton,
.discoverButton {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Poppins";
  font-weight: 400;
}

.discoverButton {
  background-color: rgb(25, 24, 26);
  border: 1px solid rgb(255, 255, 255);
}

.trendingHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 4px solid white;
}

.trendingText {
  font-family: "Inter";
  font-weight: 800;
  font-size: 2.5rem;
  color: #e9e9e9;
}

.FeatureSection {
  position: relative;
  z-index: 0;
  margin-bottom: 4rem;
}

.trendingSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 1rem;
  margin-bottom: 4rem;
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center; /* Centers images horizontally */
  flex-direction: row;
  align-items: center;
  gap: 3rem; /* Space between images */
  padding: 0 20px; /* Padding for the container */
}

.imageReverseContainer {
  display: flex;
  justify-content: center; /* Centers images horizontally */
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem; /* Space between images */
  padding: 0 20px; /* Padding for the container */
}

.image {
  width: 850px;
  height: auto;
  border-radius: 10px; /* Optional: rounded corners for images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
  border: 1px solid #484257;
}

.imageTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the inline-block title */
  justify-content: center;
  min-width: 500px;
}

.libraryImageTitle,
.gameDetailsTitle,
.chatRoomTitle {
  display: inline-block;
  border-bottom: 4px solid #fcfcfc;
  padding-bottom: 0.35rem;

  color: var(--mantine-color-white);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  max-width: 800px; /* Limit width for better readability */
  font-family: "Poppins";
}

.libraryImageText,
.gameDetailsText,
.chatRoomText {
  color: lightgray;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem; /* Space between image and text */
  max-width: 800px; /* Limit width for better readability */
  font-family: "Inter";
}

.gameDetailsSection,
.librarySection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.journalSection,
.chatRoomSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.faqSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Padding for the FAQ section */
  margin-bottom: 3rem;
}

.faqTitle {
  font-family: "Inter";
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
}

.faqSubtitle {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: rgb(170, 169, 169);
}

@media (max-width: 1245px) {
  .image {
    width: 100%;
  }

  .imageContainer,
  .imageReverseContainer {
    flex-direction: column; /* Stack images vertically on smaller screens */
    align-items: center; /* Center images */
  }

  .imageTextContainer {
    min-width: auto; /* Reset min-width for smaller screens */
    margin-top: 0; /* Reset margin for smaller screens */
  }
}

@media (max-width: 968px) {
  .mainContent {
    padding: 2rem 1rem 0rem 1rem;
  }

  .landingPageHeader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    text-align: center;
    font-size: 40px;
  }

  .leftSectionHeader {
    align-items: center;
    text-align: center;
  }

  .buttonContainer {
    justify-content: center;
  }

  .titleContainer {
    align-items: center;
    text-align: center;
  }

  .description {
    text-align: center;
  }
}

@media (max-width: 646px) {
  .hero {
    background: var(--mantine-color-dark-8);
  }

  .mainContent {
    padding: 2rem 1rem 0rem 1rem;
  }

  .title {
    font-size: 49px;
    line-height: 1.2;
  }

  .subtitle {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .description {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .buttonContainer {
    flex-direction: column; /* Stack buttons vertically */
    gap: 1rem; /* Space between buttons */
  }

  .image {
    width: 110%;
  }

  .imageContainer,
  .imageReverseContainer {
    flex-direction: column; /* Stack images vertically on smaller screens */
    align-items: center; /* Center images */
  }

  .imageTextContainer {
    min-width: auto; /* Reset min-width for smaller screens */
    margin-top: 0; /* Reset margin for smaller screens */
  }
}
