.hero {
  background-image: url('../../public/checkpointHomeBackground.jpg');
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* This ensures the hero fills the full screen */
  max-width: 100vw;
  width: 100%;
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  z-index: 1;
  padding-top: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  z-index: 1;
  position: relative;
}

.title {
  color: var(--mantine-color-white);
  font-size: 60px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
    line-height: 1.3;
  }
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;
  font-weight: 400;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    width: 80%;
  }
}

.FeatureSection{
  width: 100vw; /* Full width */
  position: relative;
  left: 0;
  right: 0;
  margin-top: 10rem; /* Moves it closer to the text */
}


.screenshotsTitle{
  color: var(--mantine-color-white);
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 4rem;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
    line-height: 1.3;
  }
}

.screenshotImage{
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  object-fit: cover; /* Ensure the image covers the container */
  margin-bottom: 1rem; /* Add spacing below the image */
}