.hero {
  background:
    linear-gradient(transparent, #203a43 20%),
    url('/Expedition33.jpg') top center/contain no-repeat;
  
  position: relative;
  min-height: 100vh; /* This ensures the hero fills the full screen */
  max-width: 100vw;
  width: 100%;
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  z-index: 1;
  padding-top: 10rem;
}

@media (max-width: 1245px){
  .hero{
    background:
      linear-gradient(transparent, #203a43 10%),
      url('/Expedition33.jpg') top center/contain no-repeat;
    }
}

/* Responsive: keep the background image and gradient the same on mobile */
@media (max-width: 768px) {
  .hero {
    background:
      linear-gradient(#325d6b, #203a43 42%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  z-index: 1;
  position: relative;
}

@media (max-width: $mantine-breakpoint-sm) {
  .container {
    margin-top: -4rem;
  }
}

.title {
  color: var(--mantine-color-white);
  font-family: 'Inter';
  font-size: 65px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 40px;
    line-height: 1.3;
  }
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;
  font-weight: 400;
  text-align: center;
  font-family: 'Poppins';

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    width: 80%;
  }
}

.FeatureSection{
  width: 100vw; /* Full width */
  position: relative;
  left: 0;
  right: 0;
  margin-top: 3rem; /* Moves it closer to the text */
}

.librarySection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.imageContainer {
  display: flex;
  justify-content: center; /* Centers images horizontally */
  flex-direction: row;
  align-items: center;
  gap: 3rem; /* Space between images */
  padding: 0 20px; /* Padding for the container */
}

.image{
  width: 100%; /* Full width of the container */
  max-width: 800px; /* Maximum width for each image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: rounded corners for images */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: subtle shadow for depth */
}

.imageTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  margin-top: -8rem;
}

.libraryImageTitle,
.gameDetailsTitle,
.chatRoomTitle{
  color: var(--mantine-color-white);
  font-size: 32px;
  font-weight: 700;
  border-bottom: 2px solid lightgray;
  text-align: center;
  margin-top: 2rem; /* Space between image and text */
  max-width: 800px; /* Limit width for better readability */
  font-family: 'Poppins';
}

.libraryImageText,
.gameDetailsText,
.chatRoomText{
  color: lightgray;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem; /* Space between image and text */
  max-width: 800px; /* Limit width for better readability */
}

.gameDetailsSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.chatRoomSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}


@media (max-width: 768px) {
  .imageContainer {
    flex-direction: column; /* Stack images vertically on smaller screens */
    align-items: center; /* Center images */
  }

  .imageTextContainer {
    min-width: auto; /* Reset min-width for smaller screens */
    margin-top: 0; /* Reset margin for smaller screens */
  }
}