.hero {
  background: url('/Expedition33Wallpaper.jpg') top center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh; /* This ensures the hero fills the full screen */
  max-width: 100%;
  z-index: 10;
  pointer-events: auto;
}

.backgroundOverlay{
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  /* Fade from transparent to dark */
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 10%, #18181b 50%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
  width: 100%;
  z-index: 1;
  position: relative;
  pointer-events: auto;
}

@media (max-width: $mantine-breakpoint-sm) {
  .container {
    margin-top: -4rem;
  }
}

.landingPageHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0rem;
  gap: 10rem;
}

.leftSectionHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.title {
  color: var(--mantine-color-white);
  font-family: 'Inter';
  font-size: 65px;
  font-weight: 900;
  line-height: 1.1;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 14px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 44px;
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 40px;
    line-height: 1.3;
  }
}

.subtitle{
  color: rgb(234, 232, 232);
  font-family: 'Inter';
  font-size: 28px;
  font-weight: 700;
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;
  font-weight: 300;
  text-align: left;
  font-family: 'Poppins';

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.createAccountButton {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins';
  border: 1px solid #6b6b6b;
}

.FeatureSection{
  width: 100%;
  position: relative;
  margin-top: 3rem; /* Moves it closer to the text */
}

.imageContainer {
  display: flex;
  justify-content: center; /* Centers images horizontally */
  flex-direction: row;
  align-items: center;
  gap: 3rem; /* Space between images */
  padding: 0 20px; /* Padding for the container */
}

.imageReverseContainer{
  display: flex;
  justify-content: center; /* Centers images horizontally */
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem; /* Space between images */
  padding: 0 20px; /* Padding for the container */
}

.image{
  width: 850px;
  height: auto;
  border-radius: 10px; /* Optional: rounded corners for images */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: subtle shadow for depth */
  border: 1px solid #6b6b6b
}

.imageTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  margin-top: -8rem;
}

.libraryImageTitle,
.gameDetailsTitle,
.chatRoomTitle{
  color: var(--mantine-color-white);
  font-size: 32px;
  font-weight: 700;
  border-bottom: 2px solid lightgray;
  text-align: center;
  margin-top: 2rem; /* Space between image and text */
  max-width: 800px; /* Limit width for better readability */
  font-family: 'Poppins';
}

.libraryImageText,
.gameDetailsText,
.chatRoomText{
  color: lightgray;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem; /* Space between image and text */
  max-width: 800px; /* Limit width for better readability */
  font-family: 'Inter';
}

.gameDetailsSection,
.librarySection{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.journalSection,
.chatRoomSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.faqSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Padding for the FAQ section */
  margin-bottom: 3rem;
}

.faqTitle{
  font-family: 'Poppins';
  font-size: 32px;
  text-align: center;
  border-bottom: 3px solid white;
  color: white;
}

@media (max-width: 1245px) {
  .image{
    width: 100%;
  }

  .imageContainer, .imageReverseContainer {
    flex-direction: column; /* Stack images vertically on smaller screens */
    align-items: center; /* Center images */
  }

  .imageTextContainer {
    min-width: auto; /* Reset min-width for smaller screens */
    margin-top: 0; /* Reset margin for smaller screens */
  }
}

@media (max-width: 968px) {

  .container{
    padding-top: 10rem;
  }

  .landingPageHeader{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .leftSectionHeader{
    align-items: center;
    text-align: center;
  }

  .buttonContainer{
    justify-content: center;
  }

  .titleContainer{
    align-items: center;
    text-align: center;
  }

  .description{
    text-align: center;
  }

}

@media (max-width: 500px) {

  .title {
    font-size: 49px;
    line-height: 1.2;
  }

  .subtitle{
    font-size: 24px;
  }

  .image{
    width: 120%;
    height: auto;
  }

  .imageContainer, .imageReverseContainer {
    flex-direction: column; /* Stack images vertically on smaller screens */
    align-items: center; /* Center images */
  }

  .imageTextContainer {
    min-width: auto; /* Reset min-width for smaller screens */
    margin-top: 0; /* Reset margin for smaller screens */
  }
}