
.background{
    background: url('/EldenRing.png') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100%; /* Ensure the page takes up the full height */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 0;
}

.noBackground{
    background: url('/tombRaider.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100%; /* Ensure the page takes up the full height */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 0;
}

.backgroundOverlay{
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    /* Fade from transparent to dark */
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.60) 0%, #19191e 40%);
}

.noBackgroundOverlay{
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    /* Fade from transparent to dark */
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.65) 0%, #19191e 15%);
}

.searchPageContainer {
    padding: 2rem; /* Add padding around the content */
    padding-bottom: 3rem;
    position: relative;
    min-height: 100vh; /* Ensure the page takes up the full height */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    pointer-events: auto;
}

.searchBarContainer{
    margin-top: 5rem;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #242424;
    border-radius: 16px;
    padding: 20px;
    gap: 10px;
}

.searchTitle{
    font-size: 32px;
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.sectionsContainer{
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.searchBar {
    width: 100%; /* Ensure it spans the available width */
    max-width: 100%; /* Limit the maximum width */
    padding: 0.5rem; /* Add padding for better spacing */
    border-radius: 8px; /* Add rounded corners */
}

.searchBar input {
    background-color: #232526; /* example: dark background */
    color: white;/* input text color */
    border: 0.2px solid rgb(148, 148, 148);
    font-family: 'Noto Sans';
}

.trendingSection,
.popularSection{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    font-weight: 800;
    margin-bottom: 1.2rem;
    background-color: #272727;
    border-radius: 8px;
    border: 1px solid #494949;
    padding: 0.4rem 0.8rem;
    align-items: flex-end;
    justify-content: space-between;
    font-family: 'Inter';
    color: #e9e9e9;
}

.titleLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.viewMoreIcon{
    justify-self: flex-end;
    align-self: center;
    color: #a7a7a7;
    font-size: 100%;
    font-weight: 500;
    font-family: 'Poppins';
    margin-top: 0.4rem;
}

.viewMoreIcon:hover{
    color: #ffffff;
    font-weight: 600;
}

@media (max-width: 765px){
    .sectionsContainer{
        width: 100%;
    }

    .searchBarContainer{
        width: 100%;
    }
}

@media (max-width: 400px){
    .searchTitle{
        font-size: 24px;
    }
}

