/* Wrapper for the entire search page */
.wrapper {
    background: linear-gradient(to top, #2e313b, #232526);
    padding: 2rem; /* Add padding around the content */
    position: relative;
    min-height: 100vh; /* Ensure the page takes up the full height */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundOverlay{
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    /* Fade from transparent to dark */
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 10%, #18181b 25%);
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 2rem;
    pointer-events: auto;
}

.titleLogoSection{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    width: 100%;
    padding: 1.2rem 1.5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Search results heading */
.TitleText {
    font-size: 2rem;
    font-weight: 450;
    color: rgb(227, 227, 229); /* Dark text for contrast */
    text-align: left;
    align-self: flex-start;
    font-family: 'Noto Sans';
    padding-left: 2rem;
}

.highlight {
    color: white;
    font-size: 2.1rem;
    font-weight: 700;
    border-bottom: 2px solid white;
}

/* Number of search results */
.numberText{
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(208, 205, 205); /* Dark text for contrast */
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: italic;
    text-align: center;
    align-self: flex-start;
}

.searchButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Grid layout for game cards */
.gameGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
}

.gameContainer{
    position: relative;
    display: inline-block
}

.scrollBar {
  &,
  &:hover {
    background-color: #555555;
  }

  &[data-orientation='vertical'] .thumb {
    background-color: black;
  }
}

.drawer title{
    font-size: 18px;
    color: white;
    font-family: 'Noto Sans';
}

.filterButton{
    width: 150px;
    margin-bottom: 1.5rem;
    font-family: 'Noto Sans';
    border: 1px solid black;
}

.gameImage {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gameImage:hover{
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
    cursor: pointer;
}

/* Game name */
.gameName {
    font-size: 1rem;
    font-weight: 450;
    color: white;
    padding: 0.5rem;
    overflow: hidden;
    font-family: 'Poppins';
}

/* Pagination */
.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.pagination .mantine-Pagination-root {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 1245px) {

    .gameGrid{
        grid-template-columns: repeat(5, 1fr);
    }

    .gameImage {
        width: 100%;         /* Responsive width inside grid cell */
    }

    .gameName {
        font-size: 0.85rem;
        max-width: 140px; /* match the mobile image size */
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        margin: 0 auto;
    }

    .numberText {
        font-size: 1.2rem;
        text-align: center;
        align-self: flex-start;
    }
}

@media screen and (max-width: 830px){

    .TitleText{
        font-size: 1.4rem;
    }

    .highlight{
        font-size: 1.5rem;
    }

    .gameGrid{
        grid-template-columns: repeat(4, 1fr);
    }

    .filterButton{
        align-self: center;
    }
}

@media screen and (max-width: 580px){

    .gameGrid{
        grid-template-columns: repeat(3, 1fr);
    }

    .TitleText{
        font-size: 1.3rem;
        padding: 0;
    }

    .highlight{
        font-size: 1.4rem;
    }

    .numberText{
        font-size: 1rem;
    }

    .filterButton{
        align-self: center;
    }

    .searchButtons{
        justify-content: center;
        align-items: center;
    }

    .mainContent{
        padding: 0
    }

}

@media screen and (max-width: 440px) {
    .gameGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}