
.background {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.backgroundOverlay{
  position: relative;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  /* Fade from transparent to dark */
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 10%, #18181b 50%);
}

.wrapper {
  padding: 2rem;
  padding-top: 2rem;
  z-index: 3;
  position: relative;
  background: transparent;
  pointer-events: auto;
}
  
.title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Inter';
  color: white;
  justify-self: center;
  word-wrap: break-word;
  white-space: normal;
}

.titleType{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-family: 'Noto Sans';
  color: whitesmoke;
  gap: 7rem;
}

.leftSection{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.cover {
  width: 350px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #6f7579;
}

.gameCover{
  width: 90%;
  object-fit: contain;
  border-radius: 8px;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem; /* space between image and button */
}

.coverInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
}

.hoverText{
  font-family: 'Poppins';
  font-weight: bold;
}

.rightSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-bottom: 3rem;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.button{
  width: auto;
  align-items: center;
  font-family: 'Poppins';
  font-weight: 400;
}

.accordionTitle{
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: 'Poppins';
  color: white;
  justify-self: center;
  border-bottom: 2px solid #ffffff;
}

.accordion{
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans';
  gap: 10px;
  font-weight: 400;
  width: 100%;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 0.5rem;
  margin-bottom: 10rem;
}

.igdbRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #f0f0f0;
  font-family: 'Poppins';
}

.ratingLabel {
  font-size: 4rem;
  font-weight: 500;
  color: #f0f0f0;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins';
}

.ratingText{
  font-size: 1.0rem;
  color: #f0f0f0;
  text-align: center;
  font-family: 'Poppins';
}

.screenshotsTitle {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
  font-family: 'Poppins';
  color: white;
  justify-self: center;
  border-bottom: 2px solid #ffffff;
}

.swiperContainer {
  width: 100%;
}

.carouselSlide{
  width: 100%;
  margin-bottom: 1rem;
}

.carouselSlide :hover{
  filter: brightness(70%)
}

.screenshot {
  width: 100%;
  height: auto;
  justify-self: center;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #6c7274;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fullScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.carouselButtons{
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.closeButton{
  position: absolute; /* pin it relative to .fullScreenOverlay */
  top: 1rem;
  right: 1rem;
  z-index: 2100;
}

.fullScreenImage{
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.gameSeries{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
}

.seriesGrid{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nameButtonContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
}

.viewMoreText{
  justify-self: flex-end;
  font-size: 1.2rem;
  color: #a7a7a7;
  font-weight: 500;
}

.viewMoreText:hover{
  color: #ffffff;
  font-weight: 600;
}

.seriesGameCard:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.similarGameSlide{
  position: relative;
  width: 78%;
  justify-content: center;
  margin: 0 auto;
}

.similarGamesName,
.gameSeriesName{
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-family: 'Poppins';
  color: white;
  justify-self: center;
  border-bottom: 2px solid #ffffff;
}

.similarGameCover{
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 0.5px solid #7c7c7c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.similarGameCover:hover{
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.badge{
  cursor: pointer;
  font-family: 'Poppins';
}

@media screen and (max-width: 1000px){
  .cover{
    width: 330px
  }

  .titleType{
    padding-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-top: 3rem;
    padding: 0.4rem;
    padding-bottom: 2rem;
  }

  .title {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .titleType{
    align-items: center;
    padding: 0;
  }

  .details {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0;
  }

  .leftSection{
    align-items: center;
  }

  .rightSection{
    margin-top: 4rem;
  }

  .media{
    align-items: center;
  }

  .rightSection{
    width: 80%;
  }

  .gameInfo{
    width: 100%;
    margin-top: 1rem;
    padding: 0;
  }

  .accordion{
    margin-top: 1.5rem;
    width: 120%;
  }

  .cover {
    width: 330px;
    height: auto;
  }

  .info p {
    font-size: 0.95rem;
  }

  .ratings {
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
  }

  .carouselSlide{
    width: 100%;
  }

  .screenshot {
    width: 120%;
    height: auto;
    margin-bottom: 3rem;
  }

  .modalScreenshot{
    width: 200%;
  }

  .similarGamesName {
    margin-top: 2rem;
  }

  .similarGameCover {
    width: 70%;
    height: auto;
  }

  .button {
    width: auto;
    text-align: center;
  }
}

