
.filterButton{
    width: 150px;
    margin-bottom: 1.5rem;
    font-family: 'Noto Sans';
    font-size: 20px;
    border: 1px solid black;
}

.scrollBar {
  &,
  &:hover {
    background-color: #777575;
  }

  &[data-orientation='vertical'] .thumb {
    background-color: black;
  }
}

