
.filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.activeFiltersText{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    justify-self: flex-end;
}

.filterButton{
    width: auto;
    font-family: 'Noto Sans';
    font-size: 20px;
    border: 1px solid black;
}

.scrollBar {
  &,
  &:hover {
    background-color: #777575;
  }

  &[data-orientation='vertical'] .thumb {
    background-color: black;
  }
}

@media (max-width: 768px) {
    .activeFiltersText{
      font-size: 16px;
    }
}

