
.filterContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.filterTopRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filterBadge{
  font-family: 'Poppins';
  font-weight: 500;
}

.totalFiltersText{
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 300;
  justify-self: flex-end;
}

.buttonActions{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.filterButton{
  width: auto;
  font-family: 'Noto Sans';
  font-size: 20px;
  border: 1px solid black;
}

.saveButton{
  font-family: 'Poppins';
  font-weight: 400;
}

.scrollBar {
  &,
  &:hover {
    background-color: #777575;
  }

  &[data-orientation='vertical'] .thumb {
    background-color: black;
  }
}

@media (max-width: 480px) {

  .filterContainer{
    flex-direction: column;
    gap: 1rem;
  }

  .filterTopRow{
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }

  .totalFiltersText{
    font-size: 18px;
  }
}

