
.profileWrapper{
    display: flex;
    flex-direction: row;
    gap: 40%;
    font-family: 'Poppins';
}

.title,.avatarTitle{
    font-family: 'Poppins';
    border-bottom: 2px solid lightgray;
    margin-bottom: 1.4rem;
}

.currentName{
    color: red;
    font-weight: 700;
}

.avatarSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.avatar{
    border: 2px solid lightgray;
}

.usernameSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 2rem;
}

.enterUsername{
    width: 100%;
    color: white;
}

@media (max-width: 800px){
    .profileWrapper{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}