
.container{
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.emailWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppins';
}

.title{
    font-family: 'Poppins';
    border-bottom: 2px solid lightgray;
}

.currentEmail{
    color: rgb(54, 140, 238);
    font-weight: 700;
}

.enterEmail{
    color: white;
    width: 24rem;
}

.submitButton{
    width: 15rem;
}

.enterEmail textarea{
    background: #232526;      /* background color */
    color: #fff;  
}

.deleteUserWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppins';
}

.deleteButton{
    width: 15rem;
}

.modalText{
    text-align: center;
    justify-content: center;
    font-family: 'Poppins';
    color: white;
}

@media (max-width: 1000px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }
    .enterEmail{
        width: 70%;
    }

    .submitButton{
        width: 60%;
    }

    .deleteButton{
        width: 60%;
    }
}
