
.durationContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logButton{
    margin-top: 1rem;
    width: auto;
    align-self: center;
    font-family: 'Poppins';
    font-weight: 400;
}