
.gameSessionCard{
    width: 100%;
    background-color: #191919;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
}

.sessionHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.6rem;
}

.titleDurationGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.titleText{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
}

.durationText{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 300;
}

.actionIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.typeContainer{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.tagContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;
    margin-top: 0.5rem;
}

.daySession{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}