.header {
    height: 56px;
    background-color: lightgray;
    border-bottom: 1px solid black;
  }
  
  .inner {
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width: 160px;
    height: auto;
    object-fit: contain;
    margin-left: -180px; /* Moves logo further to the left */  
  }

  @media screen and (max-width: 768px) {
    .logo{
      width: 120px;
      height: auto;
      object-fit: contain;
      margin-left: 0px; /* Moves logo further to the left */
    }
    
  }
  
  .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -300px; /* Moves links further to the right */
  }


  .link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: 18px;
    font-weight: 500;

  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  
    [data-mantine-color-scheme] &[data-active] {
      border: 2px solid black;
      background-color: white;
      color: black;
    }
  }

