
.passwordContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 15px
}

.title{
    color: white;
    font-weight: 450;
    font-family: 'Poppins';
    border-bottom: 2px solid lightgray;
}

.passwordInput{
    width: 23rem;
}

.passwordInput input{
    background: #232526;      /* background color */
    color: #fff;  
}

.passwordInput label{
    color: white;
    font-family: 'Poppins';
    font-weight: 300;
}

.changeButton{
    width: 15rem;
}

@media (max-width: 768px){
    .passwordContainer{
        justify-content: center;
        align-items: center;
    }
}