.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(rgba(14, 14, 18, 0.82), rgba(14, 14, 18, 0.82)),
    url("/EldenRing.png");

  background-size: cover;
  background-position: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.landingLogo {
  display: inline-block;
  width: 75px;
  height: auto;
  object-fit: contain;
}

.form {
  border-radius: 18px;
  background: #232427;

  border: 1px solid rgba(112, 93, 136, 0.363);
  font-family: "Poppins";
  justify-content: center;
  align-items: center;
  z-index: 1;

  width: 100%;
  max-width: 440px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.title {
  color: white;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.5rem;
  z-index: 1;
}

.socialButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.usernameInput input {
  background-color: #181818ff;
  color: white;
}

.usernameInput label {
  color: white;
  font-weight: 300;
}

.emailInput input {
  background-color: #181818ff;
  color: white;
}

.emailInput label {
  color: white;
  font-weight: 300;
}

.passwordInput input {
  background-color: #181818ff;
  color: white;
}

.passwordInput label {
  color: white;
  font-weight: 300;
}

@media (max-width: 480px) {
  .form {
    width: 90%;
    padding: 20px;
    margin: 0px 0;
  }
}
