.wrapper {
    min-height: 83vh;
    background-size: cover;
    background-image: url('../../../../public/signupImage.jpg');
  }
  
.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 85vh;
  max-width: 450px;
  padding-top: 80px;
  background-color: #303134;
  font-family: 'Poppins';

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: white;
  font-family: 'Poppins';
}

.emailInput input{
  background-color: #181818ff;
  color: white;
}

.emailInput label{
  color: white;
  font-weight: 600;
}

.passwordInput input{
  background-color: #181818ff;
  color: white;
}

.modalText{
  margin-top: -0.4rem;
  text-align: center;
  justify-content: center;
}

.modalTitle{
  font-family: 'Poppins';
  font-size: 26;
  text-align: center;
}

.modalButton{
  justify-self: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins';
  font-weight: 400;
  margin-top: 1rem;
}