.header {
  height: 69px;
  background-color: #2e2e2e;
  display: flex; /* Ensure flexbox is applied */
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(80, 80, 80);
  padding: 0;
  position: relative;
  z-index: 20;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
  gap: 2rem;
}

.logoContainer {
  display: inline-flex;
  width: fit-content;   /* ensures no extra space */
  height: fit-content;
  cursor: pointer;
}

.logo {
  display: inline-block;
  width: 180px;
  height: auto;
  object-fit: contain;
  justify-self: flex-start;
  justify-content: flex-start;
  margin-left: 1rem;
}

.mobileLogo{
  width: 90px;
  height: auto;
  object-fit: contain;
  margin-top: 0.1rem;
  margin-left: -3rem; /* Remove negative margin */
  justify-self: flex-start;
  justify-content: flex-start;
}


@media screen and (max-width: 868px) {

  .inner{
    flex-wrap: nowrap;
    padding: 0 1rem;
  }

  .logo{
    width: 180px;
    height: auto;
    object-fit: contain;
    margin-left: 0.3rem; /* Keep consistent margin */
  }

  .burger{
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 510px){

  .header{
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  .inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .mobileLogo{
    margin-left: -1rem;
    
  }

  .burger{
    margin-left: auto;
    margin-right: 0;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  flex-grow: 1;
}

.mobileLink{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-family: 'Poppins';
  font-size: large;
  width: auto;
  color: #000000;
}

.linkGroup{
  display: flex;
  flex-direction: row;
  align-items: center; /* Center horizontally */
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.linkSpacing {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start;
  gap: 20px;
  text-align: center;
}

.mobileLink:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  color: #000000; /* Black text on hover */
}

.mobileSignInButton,
.mobileSignUpButton,
.mobileSignOutButton {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  border: 2px solid black;
  text-decoration: none;
  color: black;
  background-color: #c6c1c3;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins';
  transition: background-color 0.3s, color 0.3s;
  transition: width 0.2s;
}

.mobileSignInButton {
  background-color: #dbe0de; /* Green background for Sign In */
}

.mobileSignUpButton {
  background-color: #b7b4b5; /* Red background for Sign Up */
}

.mobileSignInButton:hover {
  background-color: #2aed95; /* Darker green on hover */
}

.mobileSignUpButton:hover {
  background-color: #e81b1b; /* Darker red on hover */
}

.mobileSignOutButton {
  background-color: #e3101e; /* Red background for Sign Up */
}

.mobileSignOutButton:hover {
  background-color: #aa1313; /* Darker red on hover */
}

.guestLinks{
  display: flex;
  align-items: center;
  gap: 16px;
}

.homeButton{
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  background-color: #d8d4d6;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Poppins';
  transition: background-color 0.3s, color 0.3s;
}

.signUpButton{
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  background-color: #e3101e;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins';
  transition: background-color 0.3s, color 0.3s;
}

.signInButton{
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  background-color: #2aed95;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Poppins';
  transition: background-color 0.3s, color 0.3s;
}

.drawer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mobileLinksContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  padding: 1rem;
}

.guestMobileLinksContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 1rem;
}

.link {
  margin-top: 0.4rem;
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: rgb(227, 227, 227);
  font-size: 20px;
  font-weight: 340;
  font-family: 'Poppins';
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: rgba(226, 223, 223, 0.1);
  color: white;
  border-bottom: 3px solid rgb(255, 255, 255);
  border-radius: 0;
  font-weight: bold;
}

.homeButton:hover{
  background-color: rgba(0, 0, 0, 0.1);
  background-color: #d8d4d6;
  font-weight: bold;
}

.signInButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: #2aed95;
  font-weight: bold;
}

.signUpButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: #e81b1b;
  font-weight: bold;
}

.active {
  border-bottom: 4px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.guestActive {
  border-bottom: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: 799
}

.mobileLink:active{
  border-bottom: 2px solid black;
  border-radius: 0;
  color: darkblue;
  font-weight: bold;
}
