/* Wrapper for the entire search page */
.wrapper {
    background: url('/Expedition33.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh; /* Ensure the page takes up the full height */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 0;
}

.backgroundOverlay{
    width: 100%;
    height: 100%;
    position: relative;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    /* Fade from transparent to dark */
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 10%, #18181b 50%);
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    padding: 2rem;
    z-index: 1;
    pointer-events: auto;
}

/* Search results heading */
.titleText {
    font-size: 2rem;
    font-weight: 600;
    color: white; /* Dark text for contrast */
    margin-bottom: 0.1rem;
    text-align: left;
    font-family: 'Barlow';
    margin: 0;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.titleDescriptionSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titleLogo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    width: 100%;
    padding: 1.2rem 1.5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description {
    color: var(--mantine-color-white);
    font-weight: 400;
    text-align: left;
    font-family: 'Poppins';
    max-width: 900px;

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
        font-size: 18px;
    }
}

/* Number of search results */
.numberText{
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(208, 205, 205); /* Dark text for contrast */
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: italic;
    text-align: center;
    align-self: flex-start;
}

/* Grid layout for game cards */
.gameGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
}

.gameContainer{
    position: relative;
    display: inline-block
}

.gameImage {
    width: 90%;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gameImage:hover{
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
    cursor: pointer;
}

/* Game name */
.gameName {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem;
    overflow: hidden;
    font-family: 'Noto Sans';
}

/* Pagination */
.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.pagination .mantine-Pagination-root {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 1245px) {
    .gameGrid {
        justify-items: center;
    }

    .gameImage {
        width: 100%;         /* Responsive width inside grid cell */
    }

    .gameName {
        font-size: 0.85rem;
        max-width: 140px; /* match the mobile image size */
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        margin: 0 auto;
    }

    .numberText {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 820px){

    .searchText{
        font-size: 1.7rem;
    }

    .gameGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 610px){
    .gameGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 570px) {

    .titleLogo{
        margin-bottom: -1rem;
    }

    .titleDescriptionSection{
        padding: 0;
    }

    .gameGrid{
        grid-template-columns: repeat(3, 1fr);
    }

    .gameContainer{
        padding: 0;
    }

    .mainContent{
        padding: 0.8rem;
    }

    .gameImage{
        width: 100%;
    }

    .titleText{
        font-size: 1.5rem;
    }

    .titleLogo{
        padding: 0.3rem;
    }
    
}

@media screen and (max-width: 460px) {
    .gameGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 370px) {
    .gameGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    
}