.background {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-image: url('/legendOfZeldaBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}

.backgroundOverlay{
    position: relative;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    /* Fade from transparent to dark */
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.55) 0%, #18181b 40%);
}

.journalWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    z-index: 1;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 16px; /* Rounded corners */
    pointer-events: auto;
    justify-content: space-between;
}

.journalHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* center by default (mobile-first) */
    text-align: left;
    margin-bottom: 2rem;
    gap: 0rem;
    width: 100%;
}

.journalTitle{
    font-size: 3rem;
    font-weight: 700;
    color: white; /* Dark text for contrast */
    margin-bottom: 0.1rem;
    text-align: left;
    font-family: 'Barlow';
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 10px;
    letter-spacing: 1px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.titleLogo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    width: auto;
}

.description {
    font-size: 20px;
    font-weight: 300;
    color: rgb(235, 232, 232); /* Dark text for contrast */
    font-family: 'Inter';
    font-style: italic;
    width: 600px;
}

.descriptionList{
    margin-top: 1rem;
    color: rgb(235, 232, 232); /* Dark text for contrast */
    font-weight: 300;
    font-family: 'Inter';
    font-size: 18px;
    font-style: italic;
}

.bold{
    font-weight: 600;
}

.entriesCount{
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 24px;
    color: #ffffff; /* Dark text for contrast */
    margin-bottom: 1rem;
    text-align: left;
    justify-self: left;
    border-bottom: 2px solid #bababa;
}

.entryCard {
    padding: 1rem;
    gap: 1rem;
    border-radius: 8px;
    background-color: #25252b;
    border: 2px solid #474747;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.entryCard:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.entryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entryGame{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'Poppins';
}

.entryTitle {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0.5rem;
    font-family: 'Poppins';
}

.entryContent {
    font-size: 1rem;
    color: #e1e1e1;
    margin-bottom: 1rem;
}

.entryDate {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Barlow';
    color: #d6d6d6;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem; /* space between buttons */
    margin-top: 0rem;
    flex-wrap: wrap; /* optional: ensures it looks good on smaller screens */
}

.addButton,
.filterButton,
.deleteEntriesButton {
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
    margin-bottom: 1rem;
    font-family: 'Poppins';
}

.addButton:hover {
    background-color: #059624;
}

.mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    flex: 1;
}

.entryActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0.5rem;
    gap: 0.5rem; /* space between buttons */
    margin-bottom: 1rem;
    flex-wrap: wrap; /* optional: ensures it looks good on smaller screens */
}

.modalText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modalTitle{
    color: white;
    font-family: 'Poppins';
    border-bottom: 2px solid lightgray;
    text-align: center;
}

.deleteButton{
    border: 1px solid rgb(255, 0, 0);
    font-size: 1rem;
    font-family: 'Poppins';
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paginationWrapper{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

@media (max-width: 1248px){
    .mainSection{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 768px) {

    .journalWrapper{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .entriesGrid {
        grid-template-columns: repeat(2, 1fr); /* 1 column for screens smaller than 768px */
    }

}

@media (max-width: 600px){

    .titleLogo{
        width: auto;
    }

    .description{
        max-width: 100%;
        font-size: 1.4rem;
    }

    .journalHeader{
        align-items: flex-start;
    }
    
    .description{
        justify-content: flex-start;
        text-align: left;
    }

    .buttonGroup{
        flex-direction: row;
        gap: 8px;
        margin-bottom: 1.5rem;
        align-items: flex-start;
        align-self: flex-start;
    }
}

@media (max-width: 480px) {

    .backgroundOverlay{
        background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7) 0%, #18181b 60%);
    }

    .mainSection{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .titleLogo{
        width: 100%;
    }

    .journalTitle{
        font-size: 2.3rem;
    }

    .buttonGroup{
        flex-direction: column;
        
    }

    .entriesGrid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 768px */
    }

}