.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url('../../../public/journalBackground.png');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.journalWrapper{
    flex: 1;
    position: relative;
    z-index: 1;
    border-radius: 16px; /* Rounded corners */
}

.journalTitle{
    display: block;
    justify-self: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
    font-family: 'Poppins';
    border-bottom: 3px solid white;
}


.noEntriesText{
    display: block;
    background-color: #000000;
    justify-self: center;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10rem;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
}

.entryCard {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entryGame{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'Poppins';
}


.entryTitle {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'Poppins';
}

.entryContent {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.entryDate {
    font-size: 0.9rem;
    font-weight: 500;
    color: #888;
}

.journalTitle {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins';
    color: white;
}

.buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* space between buttons */
    margin-bottom: 2rem;
    flex-wrap: wrap; /* optional: ensures it looks good on smaller screens */
}

.addButton,
.filterButton {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.addButton:hover {
    background-color: #01e132;
}

.entriesGrid{
    margin-bottom: 2rem;
}

.entryActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.4rem;
    align-items: center;
    gap: 0.5rem; /* space between buttons */
    margin-bottom: 1rem;
    flex-wrap: wrap; /* optional: ensures it looks good on smaller screens */
}

.deleteButton{
    padding: 10px 20px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.viewButton{
    padding: 10px 20px;
    border: 0.4px solid rgb(9, 24, 238);
    font-size: 1rem;
    cursor: pointer;
}


@media (max-width: 768px) {

  .entriesGrid {
    grid-template-columns: repeat(2, 1fr); /* 1 column for screens smaller than 768px */
  }

}

@media (max-width: 500px) {

  .entriesGrid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 768px */
  }

}