.footer {
  margin-top: 0px;
  border-top: 1px solid black;
  background-color: #DDE0E0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.text{
  font-size: large;
  align-items: center;
  color: black;
  text-align: center;
  font-family: 'Poppins';
  flex: 1;
}

.igdbText{
  font-size: large;
  align-self: center;
  justify-self: flex-end;
  color: black;
  font-family: 'Poppins';
  text-align: left;
}

.igdbLink{
  font-weight: bold;
}

.links {
  display: flex;
  gap: var(--mantine-spacing-sm);
  margin-left: auto;
  justify-content: flex-end;
}

/* MOBILE STYLING */
@media screen and (max-width: 768px) {
  .inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text,
  .igdbText,
  .links {
    flex: unset;
    width: 100%;
  }

  .links {
    justify-content: center;
  }
}