.footer {
  margin-top: 0px;
  border-top: 1px solid rgb(0, 0, 0);
  background-color: #1d1e30;
}

.inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
  flex: 1;
  flex-wrap: wrap;
}

.footerText{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
}

.left{
  padding-left: 1rem;
}

.text{
  font-size: 14px;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Poppins';
  flex: 1;
}

.igdbText{
  font-size: 14px;
  align-self: center;
  justify-self: flex-end;
  color: rgb(255, 255, 255);
  font-family: 'Poppins';
  text-align: left;
}

.igdbLink{
  font-weight: bold;
}

.igdbLink:hover{
  font-weight: bolder;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 16px;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: -6rem;
  gap: 20px;
}

.FAQLink{
  font-size: 18px;
  align-self: center;
  justify-self: center;
  color: rgb(255, 255, 255);
  font-family: 'Inter';
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.FAQLink:hover{
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.links {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

/* MOBILE STYLING */
@media screen and (max-width: 768px) {
  .inner {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  .left,
  .center,
  .right {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .left {
    align-items: center;
    padding-left: 0;
  }

  .right {
    justify-content: center;
  }

  .links{
    justify-content: center;
  }
}