.footer {
  border-top: 1px solid rgb(50, 50, 50);
  background-color: #1f1e1e;
  width: 100%;
}

.inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;
}

.footerText{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
  text-align: left;
  font-family: 'Noto Sans';
}

.igdbText{
  font-size: 14px;
  font-weight: 450;
  align-self: center;
  justify-self: flex-end;
  color: rgb(255, 255, 255);
  font-family: 'Poppins';
  text-align: left;
}

.igdbLink{
  font-weight: bold;
}

.igdbLink:hover{
  font-weight: bolder;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 16px;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: -6rem;
  margin: 0;
  gap: 20px;
}

.FAQLink{
  font-size: 16px;
  font-weight: 450;
  align-self: center;
  justify-self: center;
  color: rgb(255, 255, 255);
  font-family: 'Poppins';
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.FAQLink:hover{
  font-size: 18px;
  font-weight: 650;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.links {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

/* MOBILE STYLING */
@media screen and (max-width: 768px) {
  .inner {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  .igdbText{
    text-align: center;
  }

  .left,
  .center,
  .right {
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  .left {
    align-items: center;
    padding-left: 0;
  }

  .right {
    justify-content: center;
  }

  .links{
    justify-content: center;
  }
}