.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    color: white;
    padding-bottom: calc(var(--mantine-spacing-xl) * 4); /* Creates space below the Hero section */
    width: 100%;
}

.title {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;
    color: white;
    padding: 0.5rem;
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 36px;
      text-align: center;
    }
}

.description {
    text-align: center;
    color: white;
    max-width: 600px; /* Keeps text width manageable */
    margin: 0 auto; /* Centers the text */
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 350;

    @media (max-width: $mantine-breakpoint-sm) {
        text-align: center;
        
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: #292626;
    border-radius: 16px;
    border: 2px solid #3f3f3f;
}

.feature:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.featureIcon {
    width: 100px;
    height: 100px;
    margin-bottom: var(--mantine-spacing-md);
}

.featuresGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
    gap: 1.3rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.featureWidthSection{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 100vw; /* take full screen width */
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2.4rem;
    box-sizing: border-box;
}

.featureTitle{
    font-weight: 600;
    font-size: 21px;
    margin-top: 1rem;
    font-family: 'Poppins';
}

.featureDescription {
    font-size: 16px;
    font-family: 'Noto Sans';
    color: rgb(214, 213, 213);
    margin-top: var(--mantine-spacing-md);
}

@media (max-width: 768px) {

  .featuresGrid {
    grid-template-columns: repeat(2, 1fr); /* 1 column for screens smaller than 768px */
  }

  .featureWidthSection{
    padding: 1rem;
  }

}

@media (max-width: 540px) {

  .featuresGrid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 768px */
    gap: 1.5rem;
  }

  .featureWidthSection{
    padding: 0 2rem;
  }

}