
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

.resultsTitle{
    font-size: 32px;
    color: white;
    font-family: 'Inter';
    font-weight: 400;
}

.gameResult{
    font-size: 36px;
    font-weight: 700;
}

.resultGamesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1674px) {
    .resultGamesGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1264px){
    .resultGamesGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 820px){

    .searchText{
        font-size: 1.7rem;
    }

}

@media screen and (max-width: 570px) {

    .titleLogo{
        margin-bottom: -1rem;
    }

    .titleDescriptionSection{
        padding: 0;
    }

    .resultGamesGrid{
        grid-template-columns: repeat(3, 1fr);
    }

    .gameContainer{
        padding: 0;
    }

    .mainContent{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .gameImage{
        width: 100%;
    }

    .titleText{
        font-size: 2.5rem;
    }

    .description{
        font-size: 16px;
    }

    .titleLogo{
        padding: 0.3rem;
    }
    
}

@media screen and (max-width: 760px) {
    .resultGamesGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 520px) {

    .wrapper{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .resultGamesGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    
}