
.resultGamesGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Default: 5 columns */
    gap: 2.4rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.gameCard{
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    width: 110%;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 3 / 4;
}

.imageWrapper:hover .overlay {
    opacity: 1;
    border: 2px solid rgb(77, 76, 76);
    border-radius: 12px;
}

.cover {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
    border: 0.5 solid rgb(74, 74, 74);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.gameName {
    color: white;
    font-size: 1.1rem;
    font-family: 'Noto Sans';
    font-weight: 600;
    text-align: center;
    padding: 0 8px;
}

.gameCard:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.gameCard:hover .gameName {
    opacity: 1;
}


@media (max-width: 1248px) {

    .resultGamesGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {

    .resultGamesGrid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for screens smaller than 768px */
    }
}


@media (max-width: 480px) {

    .popularGamesGrid{
        grid-template-columns: repeat(2, 1fr);;
    } 
}

@media (max-width: 320px) {
    .resultGamesGrid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 320px */
    }
}