
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

.resultsTitle{
    font-size: 32px;
    color: white;
    font-family: 'Inter';
    font-weight: 400;
}

.gameResult{
    font-size: 36px;
    font-weight: 700;
}

.resultGamesGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Default: 5 columns */
    gap: 2.4rem;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.gameCard{
    background-color: #2b2b2b;
    border: 1px solid #585757;
    object-fit: contain;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 3 / 4;
}

.imageWrapper:hover .overlay {
    opacity: 1;
    border: 2px solid rgb(77, 76, 76);
    border-radius: 12px;
}

.cover {
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #585757;
    border-radius: 8px 8px 0 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.gameName {
    color: white;
    font-size: 1.1rem;
    font-family: 'Noto Sans';
    font-weight: 600;
    text-align: center;
    padding: 0 8px;
}

.gameInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 0.5rem;
}

.gameTitle{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding-top: 0.5rem;
    font-family: 'Poppins';
    overflow: hidden;
    text-overflow: ellipsis;
}

.gameRating, .gameDate{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(222, 221, 221);
    font-family: 'Barlow';
    cursor: default;
    padding-bottom: 0.5rem;
}

.gameCard:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.gameCard:hover .gameName {
    opacity: 1;
}


@media (max-width: 1248px) {

    .resultGamesGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {

    .resultGamesGrid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for screens smaller than 768px */
    }
}


@media (max-width: 520px) {

    .resultGamesGrid{
        grid-template-columns: repeat(2, 1fr);;
    }

    .wrapper{
        padding: 0;
    }

    .cover{
        width: 100%;
    }
}

@media (max-width: 390px) {
    .resultGamesGrid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 320px */
    }

    .resultsTitle{
        font-size: 22px;
    }

    .gameResult{
        font-size: 24px;
    }
}