.wrapper {
  min-height: 100vh;
  background-size: cover;
  position: relative;
  background-image: url('../../../../public/video_games_art_background.jpg');
  background-position: center;
}

.form {
  border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 900px;
  max-width: 450px;
  padding-top: 40px;
  padding-right: 60px;
  padding-left: 40px;
  background-color: whitesmoke;
  font-family: 'Poppins';
  justify-content: center;
  z-index: 1;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: 'Poppins';
  z-index: 1;
}