.wrapper {
  min-height: 90vh;
  background-size: cover;
  position: relative;
  background-image: url('../../../../public/video_games_art_background.jpg');
  background-position: center;
}

.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 750px;
  max-width: 450px;
  padding-top: 40px;
  padding-right: 60px;
  padding-left: 40px;
  background-color: #2b2c3d;
  font-family: 'Poppins';
  justify-content: center;
  z-index: 1;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: white;
  font-family: 'Poppins';
  z-index: 1;
  margin-bottom: -1.5rem;
}

.usernameInput input{
  background-color: #1d1e30;
  color: white
}

.usernameInput label{
  color: white;
}

.emailInput input{
  background-color: #1d1e30;
  color: white
}

.emailInput label{
  color: white
}

.passwordInput input{
  background-color: #1d1e30;
  color: white
}

.passwordInput label{
  color: white
}