.wrapper {
  min-height: 100vh;
  padding: 1rem 1.5rem;
  background: var(--mantine-color-dark-8);
}

.entryContainer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  padding: 10px;
}

.coverWrapper {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;

  border: 1px solid rgb(70, 68, 68);
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.35s ease;
}

.toolbar {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.headerContent {
  flex: 1;
}

.gameName {
  font-family: "Poppins";
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--mantine-color-purple-1);
  margin-bottom: 0.75rem;
}

.title {
  font-family: "Poppins";
  font-size: clamp(2rem, 4vw, 2.75rem);
  line-height: 1.2;
  font-weight: 700;
  color: white;
}

.metadata {
  margin-top: 1rem;
  color: var(--mantine-color-gray-5);
  font-family: "Inter";
  font-size: 0.9rem;
}

.content {
  max-width: 100%;

  font-family: "Inter";
  font-size: 1.08rem;
  line-height: 1.9;

  color: var(--mantine-color-gray-2);
  white-space: pre-wrap;
}

@media (max-width: 545px) {
  .wrapper {
    padding: 1rem;
  }

  .header {
    flex-direction: column-reverse;
    align-items: center;
  }

  .headerContent {
    text-align: center;
    align-items: center;
  }

  .metadata,
  .tagsContainer {
    justify-content: center;
    align-items: center;
  }

  .coverWrapper {
    width: 150px;
    height: 200px;
  }

  .toolbar {
    margin-bottom: 2.25rem;
  }

  .title {
    font-size: 1.9rem;
  }

  .content {
    font-size: 1rem;
    line-height: 1.8;
  }
}
