
.trendingSection {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.trendingLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.sectionTitle{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Barlow';
    color: white;
    text-align: center;
}

.viewMoreIcon{
    justify-self: flex-end;
    align-self: center;
    color: #ebebeb;
    font-size: 100%;
    font-weight: 500;
    font-family: 'Poppins';
    margin-top: 0.4rem;
}

.viewMoreIcon:hover{
    color: #ffffff;
    font-weight: 600;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carouselSlide{
    margin-bottom: 2rem;
}

.swiperContainer{
    margin-bottom: 1rem;
}

@media (max-width: 970px) {

    .gameTitle{
        font-size: 1.5rem;
    }

    .gameDate{
        font-size: 1rem;
    }
}