.gameCard{
    background-color: #181818;
    border: 1px solid #2d2c2c;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    align-self: center;
    margin: 0 auto;
    height: auto;
    width: 105%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    will-change: transform;
    transition: transform 0.25s ease;
}

.compact{
    width: 105%;
}

.library{
    background-color: #181818;
    border: 1px solid #2d2c2c;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ratingSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.ratingText{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    color: white;
}

.hoursPlayedText{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    color: rgb(185, 183, 183);
}

.imageWrapper {
    position: relative;
    aspect-ratio: 3/4;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}

.imageWrapper:hover .overlay {
    opacity: 1;
    border: 2px solid rgb(77, 76, 76);
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #585757;
    border-radius: 8px 8px 0 0;
}

.ratingBadge, .libraryBadge{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    backdrop-filter: blur(6px);
    font-family: 'Inter';
}

.libraryBadge{
    background-color: #292828;
}

.platinumIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    backdrop-filter: blur(6px);
    background-color: #292828;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.quickButtons{
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    z-index: 2;
}

.quickLog, .quickAdd{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.imageWrapper:hover .quickAdd,
.imageWrapper:hover .quickLog {
    opacity: 1;
    transform: scale(1);
}

.gameInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    padding: 0.75rem;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gameTitle{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: 'Inter';
    line-height: 1.2;
    margin: 0;
}

.gameDate{
    font-size: 13px;
    font-weight: 500;
    color: rgb(157, 154, 154);
    font-family: 'Barlow';
    cursor: default;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badgeContainer{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.ratingTypeSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.gameCard:hover {
    border-color: #dedce4;
}

.gameCard:hover .gameName {
    opacity: 1;
}

@media (max-width: 746px){
    .gameCard{
        width: 110%;
    }
}

@media (max-width: 646px){
    .gameCard{
        width: 100%;
        height: auto;
    }

    .gameTitle{
        font-size: 0.9rem;
        color: white;
    }

    .gameDate{
        font-size: 13px;
    }

    .imageWrapper {
        height: 100%;
    }
}