.wrapper {
  padding: 2rem;
  min-height: 100vh;
  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.welcomeText{
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.0rem;
  align-self: center;
  font-family: 'Inter';
  color: #f4f4f4;
  margin-bottom: 2rem;
}

.profileStats,
.trendingText,
.playingText,
.recentEntriesText{
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
  align-items: flex-end;
  justify-content: space-between;
  font-family: 'Inter';
  color: #e9e9e9;
}

.titleLogo{
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  border-bottom: 1px solid #c5c5c5;
}

.viewMoreText{
  justify-self: flex-end;
  font-size: 1.2rem;
  color: #a7a7a7;
  font-weight: 500;
}

.viewMoreText:hover{
  color: #ffffff;
  font-weight: 600;
}

.gamesPlayingText{
  font-size: 1.5rem;
}

.statCards {
  margin-bottom: 5rem;
}

.statusGrid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(6, 1fr); /* Default: 3 columns */
  gap: 1rem;
}

.statusCard {
  padding: 1rem;
  border-radius: 8px;
  background-color: #282828;
  border: 1px solid #363636;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statusLogo{
  justify-self: center;
  align-self: center;
}

.statusLogoCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusTitle {
  font-size: 1.5rem;
  font-weight: 450;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-family: 'Poppins';
  text-decoration: underline;
  text-align: center;
}

.statusCount {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Poppins';
  text-align: center;
}

.statusTotalCount{
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Poppins';
  text-align: center;
}

.statusProgress{
  justify-self: center;
}

.trendingGames {
  width: 100%;
  max-width: 95%; /* Add a max width to prevent it from stretching too wide */
  display: block;
  margin: 0;
  padding: 1rem 0;
}

.gameCard{
  position: relative;
  cursor: pointer;
}

.gameName {
  display: block;
  opacity: 0;
  color: white;
  font-size: 15px;
  margin-top: 1rem;
  text-align: center;
  justify-self: center;
  font-weight: 600;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevents accidental hover/clicks */
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(30, 30, 30, 0.85);
  border-radius: 0 0 8px 8px;
  z-index: 2;
}

.gameCard:hover .gameName {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Default: 5 columns */
  gap: 3rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.trendingGamesGrid{
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Default: 5 columns */
  gap: 3rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cover {
  width: 115%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 0.5 solid rgb(74, 74, 74);
}

.cover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.playingText{
  margin-top: 5rem;
}

.playingGames{
  width: 100%;
  max-width: 95%;
  margin-top: -1rem;
  padding: 1rem 0;
  display: block;
}

.recentEntriesText {
  margin-top: 4rem;
}

.noEntriesText{
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(208, 205, 205); /* Dark text for contrast */
  margin-bottom: 1rem;
  font-family: 'Poppins';
  font-style: italic;
  margin-top: 1rem;
}

.recentEntries {
  padding: 1rem;
  border-radius: 8px;
  margin-top: -1rem;
}

.entryCard {
  height: 275px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #282828;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.entryCard:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.entryGame{
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: 'Poppins';
}

.entryTitle {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: 'Poppins';
}

.entryContent {
  font-size: 1rem;
  color: #e0e0e0;
  margin-bottom: 0.5rem;
}

.entryDate {
  font-size: 0.9rem;
  font-weight: 500;
  color: #c5c5c5;
}

@media (max-width: 1200px) {
  .gamesGrid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for screens smaller than 1200px */
  }
  .trendingGamesGrid{
    grid-template-columns: repeat(4, 1fr);
  }
  .statusGrid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for screens smaller than 1200px */
  }
  .entriesGrid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for screens smaller than 1200px */
  }
}

@media (max-width: 768px) {
  .gamesGrid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for screens smaller than 768px */
  }
  .trendingGamesGrid{
    grid-template-columns: repeat(3, 1fr);
  }
  .entriesGrid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 768px */
  }
  .statusGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for screens smaller than 768px */
  }
}


@media (max-width: 480px) {
  .statusGrid {
    grid-template-columns: repeat(1, 1fr); /* 2 columns for screens smaller than 768px */
  }

  .cover{
    width: 100%;
  }

  .gamesGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for screens smaller than 480px */
  }

  .trendingGamesGrid{
    grid-template-columns: repeat(2, 1fr);
  }
    
  .welcomeText{
    text-align: center;
    font-size: 1.5rem;
  }

  .profileStats{
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  
  .trendingText,
  .playingText,
  .recentEntriesText,
  .gamesPlayingText{
    text-align: center;
    font-size: 1.1rem;
  }
  
}

@media (max-width: 320px) {
  .gamesGrid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for screens smaller than 320px */
  }
}